body {
    background: #fff;
}

.wrapper header.header {
    background-image: url("img/header-bg.jpg");
    background-size: 100% auto;
    height: auto;
    overflow: hidden;
    padding-top: 35px;
    position: relative;
    padding-bottom: 50px;
}

.wrapper header.header .purple {
    bottom: -65px;
    height: 425px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.wrapper header.header .green {
    bottom: -105px;
    height: 425px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.wrapper header.header .container {
    position: relative;
    height: inherit;
}

.wrapper header.header img.shepe1 {
    left: 200px;
    position: absolute;
    top: 60px;
    width: 40px;
    height: 40px;
}

.wrapper header.header img.shepe2 {
    height: 75px;
    left: 72px;
    position: absolute;
    top: 125px;
    transform: rotate(180deg);
    width: 75px;
}

.wrapper header.header img.shepe3 {
    height: 75px;
    left: 160px;
    position: absolute;
    top: 200px;
    transform: rotate(180deg);
    width: 75px;
}

.wrapper header.header img.shepe4 {
    height: 50px;
    left: 290px;
    position: absolute;
    top: 130px;
    width: 50px;
}

.wrapper header.header img.shepe5 {
    height: 50px;
    left: 590px;
    position: absolute;
    top: 100px;
    width: 50px;
}

.wrapper header.header img.shepe6 {
    height: 75px;
    left: 800px;
    position: absolute;
    top: 90px;
    width: 75px;
}

.wrapper header.header .green img,
.wrapper header.header .purple img {
    width: 100%;
}

.wrapper header.header .logo img {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.wrapper header.header ul.nav.navbar-nav li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.wrapper header.header ul.nav.navbar-nav {
    float: right;
}

.wrapper header.header ul.nav.navbar-nav li :hover {
    background: transparent
}

.wrapper header.header .header-text {
    margin: 0 auto;
    padding-top: 130px;
    text-align: center;
    width: 770px;
}

.wrapper header.header .header-text h3 {
    color: #000000;
    font-family: "Simply Rounded", sans-serif;
    font-size: 140px;
    font-weight: 500%;
    margin-bottom: 25px;
    padding-bottom: 0px;
    position: relative;
}

.wrapper header.header .header-text h1 {
    color: #000000;
    font-family: "Simply Rounded", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
}

.wrapper header.header .header-text h1::before {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 150px;
    position: absolute;
    width: 500px;
}

.wrapper header.header .header-text p {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 57px;
}

.wrapper header.header .header-text button {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 60px / 61px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 170px;
    margin-right: 27px;
    padding: 14px 50px;
}

.wrapper header.header .header-text button:hover {
    background: transparent;
    color: #fff;
}

.wrapper section.first {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}

.wrapper section.first .first-text h1 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    padding-top: 40px;
    margin-left: 80px;
    padding-bottom: 20px;
}

.wrapper section.first .first-text h1::before {
    background: #F29200 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    bottom: 0px;
    width: 70px;
}

.wrapper section.first .first-text p {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: 100px;
    padding-top: 40px;
}

.wrapper section.development .another-text h3 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    padding-top: 10px;
    margin-left: 80px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.wrapper section.development .another-text h3::before {
    background: #F29200 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    bottom: 0px;
    width: 70px;
}

.wrapper section.development .another-text p {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    margin-left: 80px;
    padding: 20px;
}

.wrapper section.development {
    padding-bottom: 500px;
    position: relative;
}

.wrapper section.development .purple {
    bottom: 0px;
    height: 260px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.wrapper section.development .green {
    bottom: -20px;
    height: 260px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.wrapper section.development .green img,
.wrapper section.development .purple img {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.wrapper section.development .design-development {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.wrapper section.development .design-development i {
    font-size: 41px;
    background: #F29200;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    position: relative;
}

.wrapper section.development .design-development i::after {
    border: 1px solid #F29200;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
    border-radius: 50%;
}

.wrapper section.development .design-development i::before {
    border: 1px solid #F29200;
    content: "";
    height: 140px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 140px;
    border-radius: 50%;
}

.wrapper section.development .design-development.one i {
    background: #7900F2;
}

.wrapper section.development .design-development.one i::after,
.wrapper section.development .design-development.one i::before {
    border: 1px solid #7900F2;
}

.wrapper section.development .design-development.three i {
    background: #18F260;
}

.wrapper section.development .design-development.three i::after,
.wrapper section.development .design-development.three i::before {
    border: 1px solid #18F260;
}

.wrapper section.development .design-development h2 {
    position: relative;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 55px auto 25px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
}

.wrapper section.development .design-development h2::before {
    border: 1px solid #000000;
    bottom: -15px;
    content: "";
    position: absolute;
    width: 100%;
}

.wrapper section.development .design-development p {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.wrapper section.our-team {
    margin-bottom: 20px;
    margin-top: 60px;
}

.wrapper section.our-team .team-text {
    margin-bottom: 75px;
}

.wrapper section.our-team .team-text h2 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    width: -moz-fit-content;
    padding-bottom: 25px;
    padding-top: 100px;
}

.wrapper section.our-team .team-text h2::before {
    background: #F29200 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0px;
    position: absolute;
    width: 75px;
}

.wrapper section.our-team .my-claint {
    height: 350px;
    position: relative;
}

.wrapper section.our-team .item {
    text-align: center;
    float: left;
    display: initial;
    padding: 60px 60px;
}

.wrapper section.our-team .item img {
    width: 200px;
    margin: 0 auto;
    height: 200px;
}

.wrapper section.our-team .item .item-text h3 {
    color: #000000;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 30px;
}

.wrapper section.our-team .item .item-text h4 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 32px;
}

.wrapper section.our-team .item .item-text h5 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 30px;
}

.wrapper section.our-team .item .item-text i {
    color: #000000;
    font-size: 30px;
    padding: 0 17px;
}

.wrapper section.our-team .owl-item.active.center .item img {
    width: 300px;
}

.wrapper section.our-team .owl-prev,
.wrapper section.our-team .owl-next {
    position: absolute;
    top: 35px;
    background: #fff;
}

.wrapper section.our-team .owl-prev {
    left: 0;
}

.wrapper section.our-team .owl-next {
    right: 0;
}

.wrapper section.our-team .owl-prev i,
.wrapper section.our-team .owl-next i {
    font-size: 60px;
    color: #000000;
    background: transparent;
}

.wrapper section.our-team .owl-prev,
.wrapper section.our-team .owl-next {
    background: transparent;
}

.wrapper section.our-team .owl-prev:hover,
.wrapper section.our-team .owl-next:hover {
    background: transparent;
}

.wrapper section.our-team .owl-dots {
    display: none;
}

.wrapper section.contact {
    height: auto;
    overflow: hidden;
    padding: 100px 0;
    position: relative;
}

.wrapper section.contact .purple {
    bottom: 116px;
    height: 390px;
    position: absolute;
    width: 100%;
}

.wrapper section.contact .purple img,
.wrapper section.contact .green img {
    width: 100%;
}

.wrapper section.contact .green {
    bottom: 88px;
    height: 335px;
    position: absolute;
    width: 100%;
}

.wrapper section.contact .contact-text {
    margin-top: 80px;
}

.wrapper section.contact .contact-text h2 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
}

.wrapper section.contact .contact-text h2::before {
    background: #F29200 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0px;
    position: absolute;
    width: 75px;
}

.wrapper section.contact .contact-text p {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}

.wrapper section.contact .contact-form {
    background: #fff none repeat scroll 0 0;
    margin-left: 135px;
    margin-top: 50px;
    padding: 40px 35px 35px;
    box-shadow: -9px 1px 15px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.wrapper section.contact .contact-form .first {
    margin-right: 10%;
    float: left;
}

.wrapper section.contact .contact-form .last {
    float: right;
}

.wrapper section.contact .contact-form .first,
.wrapper section.contact .contact-form .last {
    padding-top: 8px;
    width: 45%;
}

.wrapper section.contact .contact-form input[type="text"] {
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color transparent;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
}

.wrapper section.contact .contact-form input[type="email"] {
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color transparent;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 47px;
    padding-bottom: 5px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
}

.wrapper section.contact .contact-form input[type="asunto"] {
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color transparent;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: 	 #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 47px;
    padding-bottom: 5px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
}

.wrapper section.contact .contact-form .message textarea {
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color transparent;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 145px;
    padding-bottom: 5px;
    padding-top: 46px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
}

.wrapper section.contact .contact-form .checkbox {
    float: left;
    margin-left: 17px;
    padding-top: 30px;
    width: 200px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.wrapper section.contact .contact-form .submit {
    float: right;
    padding-top: 25px;
}

.wrapper section.contact .contact-form input[type="submit"] {
    background: #7900f2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 25px / 30px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 11px 65px;
}

.wrapper section.contact .contact-form .checkbox-submit {
    padding-bottom: 70px;
}

.wrapper footer.footer {
    background-image: url("img/footer-bg.jpg");
    background-size: 100% 100%;
    height: 280px;
    margin-top: 50px;
    padding-top: 50px;
}

.wrapper footer.footer .footer-icon h2 {
    color: #fff;
    font-family: "Simply Rounded", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.wrapper footer.footer .footer-icon h2::before {
    background: #fff none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    width: 200px;
}

.wrapper footer.footer .footer-icon h5 {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper footer.footer .footer-icon i {
    color: #000000;
    font-size: 60px;
    padding: 80px 10px;
    justify-content: center;
    align-items: center;
}

.wrapper footer.footer .footer-text .footer-text-single h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;

}

.wrapper footer.footer .footer-text .footer-text-single p a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
   
}